.addGroupBtn{
    background-color: rgb(25, 25, 181);
    color: aliceblue;
    font-size: larger;
    font-weight: 900;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    right: 20px;
    bottom: 20px;
    position: fixed;
}
